.text-primary{
    color: #FEA116!important;
}
.btn-primary{
    background-color: #FEA116!important;
    border: none;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
}
.btn-outline-primary{
    background: transparent;
    color: #FEA116;
    border: 1px solid #FEA116 !important;
}
.btn-outline-primary:hover{
background-color: #FEA116 !important;
color: black;
}
.Add-btn{
    text-decoration: none;
    color: #FEA116!important;
    font-size: 20px;
    font-weight: 600;
    padding-right: 80px;
    
}
.Add-btn:hover{
    color: #FEA116!important;
}