*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-bar{
    width: 100%;
    object-fit: cover;
    
}
.img-bar img{
    width: 100%;
    height: 370px;
}
.row{
    padding-left: 0px !important;
}
.section-text h6{
    color: #FEA116;
    font-size: 40px;
    font-weight: 700;
    text-decoration: underline;
}
.toast-message {
    background-color: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}